name: 'Update latest release tag'

on:
  release:
    types:
      - published
      - edited


jobs:
  run-tag-latest:
    runs-on: windows-latest
    steps:
      - uses: Actions-R-Us/actions-tagger@v2.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish_latest_tag: true
